#{{ ansible_managed }}
Device {
    Name = {{ item.name }}
    Description = "{{ item.description | default(item.name) }}"
    Maximum Concurrent Jobs = {{ item.max_jobs | default("20") }}
    Media Type = File
    Archive Device = {{ item.path }}/{{ item.name }}
    LabelMedia = yes;
    Random Access = yes;
    AutomaticMount = yes;
    RemovableMedia = no;
    AlwaysOpen = no;
}
