#{{ ansible_managed }}
Director {
    Name = {{ item.name }}
{% if item.password is defined %}
    Password = "{{ item.password }}"
{% else %}
    Password = ""
{% endif %}
    Monitor = {{ item.monitor | default("No") }}
    Description = "{{ item.description | default(item.name) }}"
{% if item.tls_enabled is defined %}    
    TLS Enable = {{ item.tls_enabled }}
    TLS Require = {{ item.tls_enabled }}
    TLS Verify Peer = yes
    TLS CA Certificate File = {{ bareos_tls_path }}/CA.crt
    TLS Certificate = {{ bareos_tls_path }}/{{ item.name }}.crt
    TLS Key = {{ bareos_tls_path }}/{{ item.name }}.key
{% endif %}
}
